{% extends 'layout.html' %}
{% block body %}
<h1>Staff Login</h1>
<form id='user-login' action='/login' method='post'>
    <section class='lefthalf'>
        <label class='userlabel right' for='login-email'>Email</label>
        <label class='userlabel right' for='login-password'>Password</label>
    </section>
    <section class='righthalf'>
        <input id='login-email' class='userinput' name='login-email' type='text'>
        <input id='login-password' class='userinput' name='login-password' type='password'>
        <input id='login-submit' class='usersubmit' name='login-submit' type='submit' value='Login'>
    </form>
</section>
{% endblock %}
